body {
  overflow-x: hidden;
}


@media (min-width: 1440px) and (max-width: 1920px) {

  
  .iphone2 {
    display: none;
  }




}

@media (min-width: 1280px) and (max-width: 1365px) {

  
  .iphone2 {
    display: none;
  }

  

  

}

@media (min-width: 1366px) and (max-width: 1439px) {

 
  .iphone2 {
    display: none;
  }

  

}


@media (min-width: 1024px) and (max-width: 1365px) {
  .iphone2 {
    display: none;
  }
}







@media (min-width: 768px) and (max-width: 1024px) {

  .iphone2 {
    display: none;
  }


  


}



@media (max-width: 767px)  {

  .img_container{
    display: none;
  }


  .slider{
    display: none;
  }

  .menuha {
    /* position: absolute; */
    max-width:100%;
    height:auto;
    margin:0;
    z-index:1;
  }


}

@media (min-width: 320px) and (max-width: 476px) {

  .iphone2 {
    /* position: absolute; */
    max-width:100%;
    height:auto;
    margin:0;
    z-index:0;
  }


  .glav_container{
    display: none;
  }
  
}